/*
    Farge Palette
*/
:root[data-theme="light"] {
    --color-text: #150316;
    --color-background: #fcf2fd;
    --color-primary: rgb(129, 44, 226);
    --color-secondary: #edc682;
    --color-accent: #c8ea62;
}
:root[data-theme="dark"] {
    --color-text: #fbe9fc;
    --color-background: #0c020d;
    --color-primary: #be1dd3;
    --color-secondary: #7d5612;
    --color-accent: #7b9d15;
}

/*
    Avstander (Spacing)
*/
:root {
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-accent {
    background-color: var(--color-accent);
}

/*
    Overskrive default styling
    (noramalize css, reset css)
 */
* {
    margin: 0px;
}

img {
    width: 100%;
}

body {
    min-height: 100vh; /* vh = veiw heights */
    display: flex;
    flex-direction: column;
}


/* Overordnet layout */
#navbar {
    color: var(--color-text);
    /* background-color: var(--color-primary); */
}

#main {
    flex-grow: 1;
}

#footer {
    background-color: var(--color-primary);
}

/* Sekjsoner */
#intro-section {
    background-color: var(--color-background);
    padding: var(--spacing-small);
    text-align: center;
}

/* Projekt Kort */
.project-card {
    padding: var(--spacing-medium);
}

.project-card > h2 {
    text-align: center;
}
