/*
    Overskrive default styling
    (noramalize css, reset css)
 */
* {
    margin: 0px;
}

img {
    width: 100%;
}

body {
    min-height: 100vh; /* vh = veiw heights */
    display: flex;
    flex-direction: column;
}


/* Overordnet layout */
#navbar {
    background-color: rgb(191, 190, 198);
}

#main {
    flex-grow: 1;
}

#footer {
    background-color: rgb(191, 190, 198);
}

/* Sekjsoner */
#intro-section {
    background-color: rgb(251, 170, 140);
    padding: 20px;
    text-align: center;
}

/* Projekt Kort */
.project-card {
    padding: 10px;
}

.project-card > h2 {
    text-align: center;
}
