/*
    Overskrive default styling
    (noramalize css, reset css)
 */
* {
    margin: 0px;
}

body {
    min-height: 100vh; /* vh = veiw heights */
    display: flex;
    flex-direction: column;
}

#navbar {
    background-color: rgb(191, 190, 198)
}

#main {
    flex-grow: 1;
}

#footer {
    background-color: rgb(191, 190, 198)
}